nav
  ul
    li
      a(href="/" class=(homePage ? 'active' : '')) Home
    li
      a(href="/books" class=(booksPage ? 'active' : '')) Books
    li
      a(href="/patrons" class=(patronsPage ? 'active' : '')) Patrons
    li
      a(href="/loans" class=(loansPage ? 'active' : '')) Loans